/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: inter;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.mobile-nav .hamburger-menu {
  border: 1px solid green;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.mobile-nav .hamburger-menu .line {
  background-color: green;
  height: 2px;
  width: 70%;
}

.pc-nav {
  display: none !important;
}

.benefits .card {
  padding: 1em;
  background: rgba(128, 128, 128, 0.34);
}

.benefits .card ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.benefits .center-items {
  text-align: center;
}

.banner {
  background: lightgray;
}

.banner .container .row .col-md-6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner .container .row .col-md-6 img {
  width: 100%;
}

.banner .container .row .col-md-6 h1 {
  font-weight: bold;
  margin: 1rem;
}

.banner .container .row .col-md-6 button {
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 1rem;
}

.services {
  background: lightgray;
}

.services .container {
  width: 90%;
}

.services .container .row .col-md-4 img {
  width: 100%;
}

.services .container .row .col-md-4 h3 {
  font-weight: bold;
}

.green {
  color: green;
}

.image {
  background-image: url("../images/colleagues-working-together-environment-project (1) 1.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.image p {
  width: 50%;
}

.image .overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.308);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .container .row {
  padding: 1em;
}

.features .container .row h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container .row .col-md-5 {
  background: lightgray;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 20px;
}

.features .container .row .col-md-5 ol {
  list-style-type: decimal;
}

.questions {
  height: 45vh;
}

.questions .container .row .right {
  background: lightgray;
}

.questions .container .row .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.questions .container .row .right form input[type="text"] {
  margin-top: 15px;
}

.footer {
  background: lightgray;
  text-align: center;
  padding-top: 2rem;
}

.footer form {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer form input[type="text"] {
  width: 20rem;
}

.footer .green {
  background: green;
  color: white;
  margin-top: 2rem;
}

.footer .btn {
  background: green;
  color: white;
  border: none;
  border-radius: 0%;
  margin-top: 2rem;
  padding: 5px 35px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .pc-nav {
    display: block !important;
  }
  .pc-nav .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pc-nav .flex-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 100px;
    color: green;
    font-weight: 600px;
  }
  .pc-nav .flex-container ul li button {
    background: green;
    color: white;
    border-radius: 8px;
    height: 5vh;
    width: 10vw;
    border: none;
  }
  .benefits .center-items {
    text-align: left;
  }
  .benefits .center-items #heading-center {
    text-align: center;
    margin-bottom: 2em;
  }
  .banner .container .row .col-md-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
    text-align: left;
  }
  .banner .container .row .col-md-6 h1 {
    font-size: x-large;
  }
  .banner .container .row .col-md-6 p {
    font-size: small;
  }
  .banner .container .row .col-md-6 button {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .pc-nav .flex-container ul {
    gap: 100px;
  }
}

.features .left {
  text-align: left;
}

.features .left h2 {
  margin-left: -11rem;
}

.features .left .fits {
  margin-left: -18rem;
}

.banner p {
  text-align: left;
}

.banner .left {
  text-align: left;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
/*# sourceMappingURL=style.css.map */